{% extends 'core/base.html' %}

{% block title %}Main
{% endblock %}

{% block content %}
 <div class="container">
    <h1>Uploaded Files</h1>
    <table class="table">
        <thead>
            <tr>
                <th>File Name</th>
                <th>Author</th>
                <th>Date Uploaded</th>
                <th>Download</th>
                <th>Download PDF</th>
            </tr>
        </thead>
        <tbody>
            {% for file in uploaded_files %}
            <tr>
                <td>{{ file.file.name }}</td>
                <td>{{ file.user.username }}</td>
                <td>{{ file.upload_date }}</td>
                <td>
                    <a href="{% url 'download_file' file.file.name %}" class="btn bg-blue-400 rounded-xl hover:bg-blue-600"><img src="/media/images/download_tex_icon.png" alt="Download" width="50px"></a>

                </td>
                <td>
                    <a href="{% url 'download_pdf' file.file.name %}" class="btn bg-red-400 rounded-xl hover:bg-red-600"><img src="/media/images/download_pdf_icon.png" alt="Download PDF" width="50px"></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}