{% extends 'core/base.html' %}
{% load static %}

{% block title %}Upload{% endblock %}

{% block content %}
<div class="flex flex-col items-center justify-center h-[500px]">
  <h1 class="text-3xl font-bold mb-8">Latex File Uploaded Successfully!</h1>
  <div class="space-x-6 mb-8">
    <a href="{% url 'download_file' file_path %}" class="px-6 py-3 text-lg font-semibold bg-blue-700 text-white rounded-xl hover:bg-blue-900">Download File</a>
    <a href="{% url 'download_pdf' file_path %}" class="px-6 py-3 text-lg font-semibold bg-red-700 text-white rounded-xl hover:bg-red-900">Download PDF</a>
  </div>
</div>
{% endblock %}